.nav-link{
    color:#ffff;
}

.nav-link:hover{
    color: #dd4d4d;
   
}

.Nav-Bar{
    background-color: #bee7cc;
    margin-bottom: 10px; /* es para que no este pegado al componente de abajo */
    

    
}
.Nav-Seccion:hover{
    background-color:#99d2ac;
    transition: background-color 0.9s ease, color 1.0s ease; 
    /*para que no cambie de golpe el color, no se si funciona bien.*/
}
